<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- include_common_top -->
    <th:block th:replace="common/include_common_top :: top"></th:block>
    <!-- include_common_top -->
    <link rel="stylesheet" href="css/shop/order.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Header Area -->
    <th:block th:replace="common/include_common_header :: header"></th:block>
    <!-- Header Area End -->

    <!-- Breadcumb Area -->
    <div class="breadcumb_area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h5>Checkout</h5>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area -->

    <!-- Checkout Step Area -->
    <div class="checkout_steps_area">
        <a class="complated"><i class="icofont-check-circled"></i> Orderer</a>
        <a class="complated"><i class="icofont-check-circled"></i> Receiver</a>
        <a class="complated"><i class="icofont-check-circled"></i> Payment</a>
        <a class="active"><i class="icofont-check-circled"></i> Confirm</a>
        <a><i class="icofont-check-circled"></i> Complete</a>
    </div>
    <!-- Checkout Step Area -->

    <!-- Checkout Area -->
	<th:block th:with="tot_price=${orderTotalPrice}">
    <div class="checkout_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="checkout_details_area clearfix">
                        <h5 class="mb-30">Confirm Your Order</h5>

                        <div class="cart-table">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-30">
                                    <thead>
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <!-- order item start -->
                                    <th:block th:each="o_cart : ${cartItemList}">
                                        <tr>
                                            <td>
                                                <img th:src="@{/img/p_img/{im_name}(im_name=${o_cart.product.imageList[0].im_name})}" alt="Product">
                                            </td>
                                            <td>
                                                <a href="#" th:text="${o_cart.product.p_name}">Product Name</a>
                                            </td>
                                            <td>&#8361;<span th:text="${#numbers.formatInteger(o_cart.product.p_price, 0, 'COMMA')}"></span></td>
                                            <td>
                                                <div class="quantity">
                                                    <input type="number" class="qty-text" step="1" min="1" max="99" readonly th:value="${o_cart.c_qty}">
                                                </div>
                                            </td>
                                            <td>&#8361;<span th:text="${#numbers.formatInteger(o_cart.product.p_price * o_cart.c_qty, 0, 'COMMA')}"></span></td>
                                        </tr>
                                    </th:block>
                                    <!-- order item end -->
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-7 ml-auto">
                    <div class="cart-total-area">
                        <h5 class="mb-3">Cart Totals</h5>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td>&#8361;<span th:text="${#numbers.formatInteger(tot_price, 0, 'COMMA')}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td th:if="${tot_price < 50000}">
                                            &#8361;<span th:text="${#numbers.formatInteger(2500, 0, 'COMMA')}"></span>
                                        </td>
                                        <td th:if="${tot_price >= 50000}">
                                            &#8361;0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td id="cart_total">&#8361;<span th:text="${#numbers.formatInteger(tot_price + shipping_price, 0, 'COMMA')}"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout_pagination d-flex justify-content-end mt-3">
                            <a href="#" class="btn btn-primary mt-2 ml-2 d-none d-sm-inline-block order_back">Go Back</a>
                            <a href="#" class="btn btn-primary mt-2 ml-2" id="order_create_btn">Order</a>
                        </div>     
                        <form id="order_create_form" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="total_price" th:value="${tot_price + shipping_price}">
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
	</th:block>
	
    <!-- Checkout Area End -->

    <!-- Footer Area -->
    <th:block th:replace="common/include_common_bottom :: bottom"></th:block>
    <!-- Footer Area -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <th:block th:replace="common/include_common_script :: script"></th:block>
    <script src="js/shop/order.js"></script>

</body>

</html>
